*.jpg
.ipynb_checkpoints/
imgs/
*__pycache__

# Archivos auxiliares y temporales de LaTeX
paper/*.aux
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.synctex.gz

# Archivos generados automáticamente por conversiones
paper/*-eps-converted-to.pdf

# Documentos compilados (opcional, pero recomendado ignorar)
paper/*.pdf
